
<f:for each="{feedback.schema1textBdim3}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
<f:for each="{feedback.schema1textCdim3}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{feedback.schema1textDdim3}</f:format.html>
<f:for each="{feedback.schema1textEdim3}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
