
<f:for each="{feedback.schema1textBdim5}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
<f:for each="{feedback.schema1textCdim5}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{feedback.schema1textDdim5}</f:format.html>
<f:for each="{feedback.schema1textEdim5}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
