
<f:for each="{feedback.schema1textBdim1}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
<f:for each="{feedback.schema1textCdim1}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{feedback.schema1textDdim1}</f:format.html>
<f:for each="{feedback.schema1textEdim1}" as="item" iteration="count">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.txt}</f:format.html>
</f:for>
