<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-feedback" >
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.fragebogen" />
		</td>
		<td>
		{feedback.fragebogen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.schema_typ" />
		</td>
		<td>
		{feedback.schemaTyp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim1" />
		</td>
		<td>
		{feedback.schema1textDdim1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim2" />
		</td>
		<td>
		{feedback.schema1textDdim2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim3" />
		</td>
		<td>
		{feedback.schema1textDdim3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim4" />
		</td>
		<td>
		{feedback.schema1textDdim4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim5" />
		</td>
		<td>
		{feedback.schema1textDdim5}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_feedback_domain_model_feedback.schema2text_d" />
		</td>
		<td>
		{feedback.schema2textD}
		</td>
	</tr>
</table>
</html>
