<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Feedback</h1>

    <f:flashMessages />

    <table  class="tx_feedback" >
        <tr>
            <th><f:translate key="tx_feedback_domain_model_feedback.fragebogen" /></th>
            <th><f:translate key="tx_feedback_domain_model_feedback.schema_typ" /></th>
            <th><f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim1" /></th>
            <th><f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim2" /></th>
            <th><f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim3" /></th>
            <th><f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim4" /></th>
            <th><f:translate key="tx_feedback_domain_model_feedback.schema1text_ddim5" /></th>
            <th><f:translate key="tx_feedback_domain_model_feedback.schema2text_d" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{feedbacks}" as="feedback">
            <tr>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.fragebogen}</f:link.action></td>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.schemaTyp}</f:link.action></td>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.schema1textDdim1}</f:link.action></td>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.schema1textDdim2}</f:link.action></td>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.schema1textDdim3}</f:link.action></td>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.schema1textDdim4}</f:link.action></td>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.schema1textDdim5}</f:link.action></td>
                <td><f:link.action action="show" arguments="{feedback : feedback}">{feedback.schema2textD}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{feedback : feedback}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{feedback : feedback}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Feedback</f:link.action>
</f:section>
</html>
